.layer-mask {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: transparent;
    z-index: 9998;
    pointer-events: none;
}
.layer-mask--fixed {
    position: fixed;
}
.layer-mask--canvas {
    opacity: .5;
    pointer-events: painted;
}